{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block titulo%}asistencias{%endblock%}</title>

    {%block stilo%}
    {%endblock%}

</head>
<body>
    {%block navegacion%}
        <p>
            <form method="post" action="{%url 'logout'%}">
                {%csrf_token%}
                <button type="submit">Salir</button>
            </form>
        </p>

        <p>
            <a href="{%url 'notificaciones'%}">notificaciones</a>
        </p>
        <p>
            <a href="{%url 'index'%}">Home</a>
        </p>
        <p>
            <a href="{%url 'listado_materias'%}">Materias</a>
        </p>
        {%if request.user.is_superuser%}
            <p>
                <a href="{%url 'registro_alumnos'%}">Registrar alumno</a>
            </p>
            <p>
                <a href="{%url 'registro_profesores'%}">Registrar profesores</a>
            </p>
            <p>
                <a href="{%url 'registro_materias'%}">Registrar materias</a>
            </p>
            <p>
                <a href="{%url 'asignar_profesor'%}">asignar profesor</a>
            </p>
            <p>
                <a href="{%url 'asignar_alumno'%}">asignar alumno</a>
            </p>
        {%endif%}
    {%endblock%}

    {%block contenido%}
        <h2>welcome ingeniero</h2>
        <h2>prueba del branch</h2>
        <h2>prueba pull</h2>
        <h2>hecho desde rafael</h2>
    {%endblock%}

    {%block scripts%}
    {%endblock%}
    
</body>
</html>