{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block titulo%}asistencias{%endblock%}</title>
    <link rel="stylesheet" href="{%static '.\css\nav.css'%}">

    {%block estilo%}
    {%endblock%}

</head>
<body>
    {%block navegacion%}
        <div class="container">
            <div id="menu">
                <ul>
                    <li>
                        <a href="{%url 'notificaciones'%}">notificaciones</a>
                    </li>
                    <li>
                        <a href="{%url 'index'%}">Home</a>
                    </li>
                    {%if request.user.is_active and not request.user.is_superuser%}
                        <li>
                            <a href="{%url 'listado_materias'%}">Materias</a>
                        </li>
                    {%endif%}
                    {%if request.user.is_superuser%}
                        <li>
                            <a href="{%url 'registro_alumnos'%}">Registrar alumno</a>
                        </li>
                        <li>
                            <a href="{%url 'registro_profesores'%}">Registrar profesores</a>
                        </li>
                        <li>
                            <a href="{%url 'registro_materias'%}">Registrar materias</a>
                        </li>
                        <li>
                            <a href="{%url 'asignar_profesor'%}">asignar profesor</a>
                        </li>
                        <li>
                            <a href="{%url 'asignar_alumno'%}">asignar alumno</a>
                        </li>
                        <li>
                            <a href="{%url 'asistencias'%}">asistencias</a>
                        </li>
                    {%endif%}
                    <li>
                        <form method="post" action="{%url 'logout'%}">
                            {%csrf_token%}
                            <button id="close" type="submit">Salir</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    {%endblock%}
<main>
    {%block contenido%}
        <h2>welcome ingeniero</h2>
        <h2>prueba del branch</h2>
        <h2>prueba pull</h2>
        <h2>hecho desde rafael</h2>
    {%endblock%}

    {%block scripts%}
    {%endblock%}
</main>    
</body>
</html>