{%extends 'index.html'%}
{%load static%}

{%block titulo%}Registro{%endblock%}

{%block estilo%}
    <link rel="stylesheet" href="{%static '.\css\login.css'%}">
{%endblock%}

{%block navegacion%}
{%endblock%}

{%block contenido%}

    
    <section>
        <form method="post">
            <br>
            {%csrf_token%}
            <h1>Registro</h1>
            <div class="inputbox">
                <label for="id_username"></label>
                <input type="text" placeholder="Nombre usuario" name="username" maxlength="150" autofocus="" required="" aria-describedby="id_username_helptext" id="id_username">
            </div>
            <div class="inputbox">
                <label for="id_password1"></label>
                <input type="password" placeholder="Contraseña" name="password1" autocomplete="new-password" required="" aria-describedby="id_password1_helptext" id="id_password1">
            </div>
            <div class="inputbox">
                <label for="id_password2"></label>
                <input type="password" placeholder="Confirmar contraseña" name="password2" autocomplete="new-password" required="" aria-describedby="id_password2_helptext" id="id_password2">
            </div>
            <div class="inputbox">
                <label for="id_first_name"></label>
                <input type="text" placeholder="Nombres" name="first_name" maxlength="150" id="id_first_name">
            </div>
            <div class="inputbox">
                <label for="id_last_name"></label>
                <input type="text" placeholder="Apellidos" name="last_name" maxlength="150" id="id_last_name">
            </div>
            <div class="inputbox">
                <label for="id_email"></label>
                <input type="email" placeholder="Correo" name="email" maxlength="254" id="id_email">
            </div>
            <button type="submit">Guardar</button>
            <br>
            <br>
            <br>
        </form>
    </section>

{%endblock%}