{%extends 'index.html'%}
{%load static%}

{%block titulo%}ingreso{%endblock%}

{%block estilo%}
    <link rel="stylesheet" href="{%static '.\css\login.css'%}">
{%endblock%}

{%block navegacion%}
{%endblock%}

{%block contenido%}

    <section>
        <form  method="post" class="">
            <h1>login</h1>
            {%csrf_token%}
            <div class="inputbox">
                <label for="id_username"></label>
                <input type="text" id="id_username" name="username" placeholder="nombre usuario">
            </div>
            <div class="inputbox">
                <label for="id_password"></label>
                <input type="password" id="id_password" name="password" placeholder="contraseña">
            </div>
            <div class="forget">
                <label for=""><input type="checkbox">recordar</label>
                <a href="">olvide la contraseña</a>
            </div>
            <button type="submit">Ingresar</button>
            <br>
            <br>
            <div class="register">
                <a href="{%url 'registro_usuario'%}">Registrarse</a>
            </div>
        </form>
    </section>

{%endblock%}